body {
    font-family: 'Droid Serif', serif;
}

/*stylowanie nawigacji*/

#main-nav {
    background-color: transparent;
    border: none;
}

#list-nav,
#services h3,
#services h4 {
    font-family: 'Montserrat', sans-serif;
}

/*nadanie koloru czcionki elementom nagłówka*/
#main-nav .navbar-brand,
#list-nav li a {
    color: white; 
}

/*stylowanie nagłówka*/

#main-header {
    background-image: url(../img/header/pictures_on_the_wall.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    color: #FFFFFF;
}

#mask-header {
    width:100%;
    height: 100%;
    background-color: #333333;
    opacity: 0.5;
}

#inner-header {
    position: absolute;
    width: 100%; 
    top: 50%; 
    left: 50%;
    transform:translate(-50%, -50%);
}

#inner-header h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

#inner-header .btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #0ed8d6;
    color: #FFFFFF;
    border: none;
}

/* stylowanie sekcji services*/
#services {
    padding: 80px;  
}

#inner-services .row {
    width: 100%;
}

#inner-services service-image {
    width: 50px;
    height: 50px;
}

#inner-services .services-content fa {
    font-size: 40px;

    height: 40px;
    width: 40px;
}
